li {
    display: 'inline-block',
    'list-style-type': 'none',
    height: '25px',
    width: '25px',
    border: '1px black solid',
    margin: '0 1px',
    'box-sizing': 'border-box'
  }

.container {
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
}
